name: 2026 Daily Logger

on:

  workflow_dispatch:

  schedule:
    - cron: "30 22 * * *"   # 4:00 AM IST (UTC+5:30)


jobs:
  fetch:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install
        run: |
          pip install -r logger/requirements.txt

      - name: Run Logger
        run: |
          python logger/fetch_2026.py

      - name: Commit
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

          git add .
          git commit -m "Update 2026 logs" || echo "No update"

          git push
